{% extends 'JimsStudyBundle::layout.html.twig' %}

{% block body %}
    {% block header %}
        <h1>登陆Login</h1>
    {% endblock %}

    {% block container %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form action="{{ url('study_login_check') }}" method="post">
            <label for="">账号：<input type="text" name="_username" /></label>
            <label for="">密码：<input type="password" name="_password" /></label>
            <button type="submit">登陆</button>
        </form>
{#        {{ form_start(form) }}
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form)}}

            <button type="submit">登陆</button>
        {{ form_end(form) }}#}
    {% endblock %}

{% endblock %}
