{% extends 'JimsStudyBundle::layout.html.twig' %}

{% form_theme form  'form_div_layout.html.twig' %}

{% form_theme form with  ['form_div_layout.html.twig', 'JimsStudyBundle:Form:my_field.html.twig'] %}

{#{% form_theme form _self %}

{% block form_row %}
    <marquee>It looks like it's working</marquee>
    <div>
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}#}

{% block body %}


    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}



    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}



    {{ form_end(form) }}

{% endblock %}
